<div class="col-md-12">
  <div class="group">

    <span class="pull-right">
      <% if current_user && current_user.is_member_of?(@group) %>
        <label class="label label-success"> 群组成员 </label>
        <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-default")%>
      <% else %>
        <label class="label label-warning"> 不是群组成员 </label>
        <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-default")%>
      <% end %>
    </span>

    <%= link_to("Write a Post", new_group_post_path(@group), class: "btn btn-info pull-right") %>

    <% if current_user && current_user == @group.user %>
      <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>

  <table class="table">
    <thead>
     <tr>
        <th></th>
        <th>文章内容</th>
        <th>操作</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody class="sortable">
      <% @posts.each do |post| %>
        <tr data-reorder-url="<%= reorder_group_post_path(@group, post) %>">
          <td>
            <span class="sortable_icon">☰</span>
          </td>
          <td><%= sanitize post.content %></td>
          <td>
            <%= link_to "上移", reorder_group_post_path(@group, post, :position => :up), method: :post, :class => "btn btn-default" %>
            <%= link_to "下移", reorder_group_post_path(@group, post, :position => :down), method: :post, :class => "btn btn-default" %>
            <%= link_to "置顶", reorder_group_post_path(@group, post, :position => :first), method: :post, :class => "btn btn-default" %>
            <%= link_to "置底", reorder_group_post_path(@group, post, :position => :last), method: :post, :class => "btn btn-default" %>
          </td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @posts%>
  </div>

</div>

<script>
  $( ".sortable" ).sortable({
    axis: 'y',
    items: 'tr',
    cursor: 'move',
    handle: ".sortable_icon",
    stop: function(e, ui){
      ui.item.children('td').effect('highlight', {}, 1000)
    },
    update: function(e, ui) {
      reorder_url = ui.item.data('reorder-url')
      position = ui.item.index()
      $.ajax({
        type: 'POST',
        url: reorder_url,
        dataType: 'json',
        data: { position: position }
      })
    }
  });
</script>
